#Carousel_container{
    width:  100%;
    height: 200px;
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}
#icontainer{
    position: relative;
    display: flex;
    gap: 10px;
}
#icontainer img{
    width: 100%;
    height: 100%;
}
#icontainer>div{
    width: 200px;
    text-align: center;
    color: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#left{
    width: 30px;
    height: 20px;
    background-color: rgba(254, 255, 254, 0.884);
    margin-top:80px;
    position: absolute;
    z-index: 1;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#right{
    width: 30px;
    height: 20px;
    background-color: rgba(254, 255, 254, 0.884);
    position: absolute;
	z-index: 1;
    right:29%;
    margin-top:80px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#right:hover{
    cursor: pointer;
}
#left:hover{
  cursor: pointer;
}
#carousel_title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
 #carousel_title>h2{
    font-size: 20px;
    line-height: 10px;
 }
 #carousel_title span{
     color: orange;
     cursor: pointer;

 }
/* Dont Forget to give Credit :- By Mohammad Ayaz Noori */